<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시물 등록</title>
</head>
<body>
<!-- nav bar -->
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="position-sticky pt-3 sidebar-sticky">
    <ul class="nav flex-column"> </ul>
    <ul class="nav flex-column mb-2"> </ul>
  </div>
</nav>

<!-- main content -->
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div>
    <h3>회원가입</h3>
  </div>
  <div class="align-items-center pt-3 pb-2 mb-3 border-top">
    <form action="/posts/write" id="savePost" th:object="${boardForm}" method="post">
<!--      <div class="mb-2 mt-3">-->
<!--        <label for="loginId">게시글 아이디</label>-->
<!--        <input type="text" id="loginId" th:field="*{id}" class="form-control" placeholder="아이디를 입력해주세요">-->
<!--        <div class="errormsg" th:errors="*{id}"></div>-->
<!--      </div>-->
      <div class="mb-2">
        <label for="title">제목</label>
        <input type="text" id="title" th:field="*{title}" class="form-control" placeholder="제목을 입력해주세요">
        <div class="errormsg" th:errors="*{title}"></div>
      </div>
      <div class="mb-2">
        <label for="content">내용</label>
        <input type="text" id="content" th:field="*{content}" class="form-control" placeholder="내용을 입력해주세요">
        <div class="errormsg" th:errors="*{content}"></div>
      </div>

      <div class="mb-2 mt-2">
        <input type="submit" id="save-post" class="btn btn-primary" value="쓰기"/>
      </div>
    </form>
  </div>
</main>

<!-- footer 적용 필요시 추가할 것-->
<footer>

</footer>

</body>
</html>